asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.3
chardet==2.3.0
command-not-found==0.3
defer==1.0.6
dj-database-url==0.5.0
Django==3.1.6
django-debug-toolbar==2.2
flake8==3.8.3
gunicorn==20.0.4
importlib-metadata==1.7.0
isort==4.3.21
jedi==0.17.1
language-selector==0.1
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
mccabe==0.6.1
parso==0.7.0
pluggy==0.13.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycodestyle==2.6.0
pycups==1.9.73
pycurl==7.43.0
pydocstyle==5.0.2
pyflakes==2.2.0
pygobject==3.20.0
pylint==2.5.3
python-apt==1.1.0b1+ubuntu0.16.4.9
python-debian==0.1.27
python-jsonrpc-server==0.3.4
python-language-server==0.33.3
pytz==2020.1
requests==2.9.1
rope==0.17.0
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.3.1
ssh-import-id==5.5
system-service==0.3
toml==0.10.1
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.1
whitenoise==5.1.0
wrapt==1.12.1
xkit==0.0.0
yapf==0.30.0
zipp==3.1.0
